intent_and_slot/checkpoint*
intent_and_slot/data/*
intent_and_slot/prev_trained_model/*
intent_and_slot/xfyun
data/*
models/*

*__pycache__*
*.pcm
*.log

app/config/*
app/logs/*
app/data/*
app/sampled_text/*
app/services/data/*
app/api/endpoints/第一期语音文件/*

app_en/config/*
app_en/logs/*
app_en/data/*
app_en/sampled_text/*
app_en/services/data/*